{% extends 'Header.html.twig' %}

{% block title %}Everything About Cars{% endblock %}

{% block body %}
    <div class="news">
        <div class="news-bar">
            <h1>NEWS</h1>
        </div>
        <div class="card-deck">
            {% for news in newses %}
                <div class="card" style="position: static;">
                    <a href="{{ news.url }}" target="_blank">
                        <img class="card-img-top" src="/uploads/newses/{{ news.file }}" alt="Card image cap"  style="height: 350px" >
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.context }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Added at {{ news.createdAt|date("m/d/Y") }}</small>
                    </div>

                </div>
            {% endfor %}
    </div>

{% endblock %}