{% extends 'Header.html.twig' %}

{% block title %}Car seles offers{% endblock %}

{% block body %}
    {{ dump() }}
        <a href="{{ path('car_seles_offers_brand') }}">| Select |</a>
        {% if brand|default %}
            <a href="{{ path('car_seles_offers_model', { brand : brand}) }}">| {{ brand }} |</a>
            {% if model|default %}
                <a href="{{ path('car_seles_offers_generation', { brand : brand, model : model}) }}">| {{ model }} |</a>
                {% if generation|default %}
                    <a href="{{ path('car_seles_offers_body', { brand : brand, model : model, generation : generation}) }}">| {{ generation }} |</a>
                    {% if body|default %}
                        <a href="{{ path('car_seles_offers_engine', { brand : brand, model : model, generation : generation, body : body}) }}">| {{ body }} |</a>
                        {% if engine|default %}
                            <a href="{{ path('car_seles_offers_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">| {{ engine }} |</a>
                            <hr>
                            <a href="{{ path('blog_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
                                Find all posts on blog for this components</a><br>
                            <a href="{{ path('car_specialist_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
                                Find specialist comment for this components</a><br>
                            <a href="{{ path('technical_data_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
                                Show technical data for this vehicle</a>
                            <hr>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% if new|default %}
        <div id="mid-container">
            <h4>Add new offer</h4>
            <a href="{{ path('car_seles_offers_new',{brand : brand, model : model,
                generation : generation, body : body, engine : engine }) }}">
                <button class="btn btn-lg btn-primary">New</button>
            </a>
        </div>
    {% endif %}
    {% if form|default %}
        {{ form(form) }}
    {% endif %}
    <br>
    {% if offers is empty %}
        <div class="center-bar-warning">
            <h4>For select components, don't have offers</h4>
        </div>
    {% endif %}
    {% if offers|default %}
        {% for offer in offers %}
            <a href="{{ path('car_seles_offers_show', { brand : offer.brand, model : offer.model, generation : offer.generation,
                body : offer.carBody, engine : offer.engine, offer : offer.id}) }}" style="color: black">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="/uploads/offers/{{ offer.file }}" alt="Card image cap" style="max-width: 300px;max-height: 300px">
                        <br>
                        <br>
                        <h3 class="card-title">Price : {{ offer.price|number_format(2, '.', ',')  }} $</h3>
                        <h4 class="card-title">Mileage : {{ offer.mileage|number_format(0, '.')  }} km</h4>
                        <h5 class="card-title">{{ offer.brand.name }} {{ offer.model.name }} {{ offer.generation.name }} {{ offer.carBody.name }} {{ offer.engine.name }} </h5>
                        <p class="card-text"><small class="text-muted">Offert added at : {{ offer.createdAt|date("F jS \\a\\t g:ia") }}</small></p>
                        <p class="card-text"><small class="text-muted">By : {{ offer.user.name }} {{ offer.user.surname }}</small></p>
                        {% if app.user == offer.user %}
                            <a href="{{ path('car_seles_offers_remove',{
                                brand : offer.brand, model : offer.model, generation : offer.generation, body : offer.carBody,
                                engine : offer.engine, offer : offer.id }) }}">
                                <button class="btn btn-danger">Remove</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}

    <ul class="pagination">
    {% if next|default %}
        {% if engine|default and body|default and generation|default and model|default and brand|default %}
            {% if previous >= 0 %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_all', { brand : brand, model : model, generation : generation, body : body, engine : engine, offset: previous }) }}">Previous</a>
                </li>
            {% endif %}
            {% if next < offers|length %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_all', { brand : brand, model : model, generation : generation, body : body, engine : engine, offset: next }) }}">Next</a>
                </li>
            {% endif %}
        {% elseif body|default and generation|default and model|default and brand|default %}
            {% if previous >= 0 %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_engine', { brand : brand, model : model, generation : generation, body : body, offset: previous }) }}">Previous</a>
                </li>
            {% endif %}
            {% if next < offers|length %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_engine', { brand : brand, model : model, generation : generation, body : body, offset: next }) }}">Next</a>
                </li>
            {% endif %}
        {% elseif generation|default and model|default and brand|default %}
            {% if previous >= 0 %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_body', { brand : brand, model : model, generation : generation, offset: previous }) }}">Previous</a>
                </li>
            {% endif %}
            {% if next < offers|length %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_body', { brand : brand, model : model, generation : generation, offset: next }) }}">Next</a>
                </li>
            {% endif %}
        {% elseif model|default and brand|default %}
            {% if previous >= 0 %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_generation', { brand : brand, model : model, offset: previous }) }}">Previous</a>
                </li>
            {% endif %}
            {% if next < offers|length %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_generation', { brand : brand, model : model, offset: next }) }}">Next</a>
                </li>
            {% endif %}
        {% elseif brand|default %}
            {% if previous >= 0 %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_model', { brand : brand, offset: previous }) }}">Previous</a>
                </li>
            {% endif %}
            {% if next < offers|length %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_model', { brand : brand, offset: next }) }}">Next</a>
                </li>
            {% endif %}
        {% else %}
            {% if previous >= 0 %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_brand', { offset: previous }) }}">Previous</a>
                </li>
            {% endif %}
            {% if next < offers|length %}
                <li class="page-item">
                <a class="page-link" href="{{ path('car_seles_offers_brand', { offset: next }) }}">Next</a>
                </li>
            {% endif %}
        {% endif %}
    {% endif %}
    </ul>

{% endblock %}
