{% extends 'Header.html.twig' %}

{% block title %}Your car seles offers{% endblock %}

{% block body %}
    {% if offers is empty %}
        <div class="center-bar-warning">
            <h4>You don't have offers</h4>
        </div>
    {% endif %}
    {% if offers|default %}
        {% for offer in offers %}
            <a href="{{ path('car_seles_offers_show', { brand : offer.brand, model : offer.model, generation : offer.generation,
                body : offer.carBody, engine : offer.engine, offer : offer.id}) }}" style="color: black">
            <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="/uploads/offers/{{ offer.file }}" alt="Card image cap" style="max-width: 300px;max-height: 300px">
                        <br>
                        <br>
                        <h3 class="card-title">Price : {{ offer.price|number_format(2, '.', ',')  }} $</h3>
                        <h4 class="card-title">Mileage : {{ offer.mileage|number_format(0, '.')  }} km</h4>
                        <h5 class="card-title">{{ offer.brand.name }} {{ offer.model.name }} {{ offer.generation.name }} {{ offer.carBody.name }} {{ offer.engine.name }} </h5>
                        <p class="card-text"><small class="text-muted">Offert added at : {{ offer.createdAt|date("F jS \\a\\t g:ia") }}</small></p>
                        <p class="card-text"><small class="text-muted">By : {{ offer.user.name }} {{ offer.user.surname }}</small></p>
                        {% if app.user == offer.user %}
                            <a href="{{ path('car_seles_offers_user_remove',{offer : offer.id}) }}">
                                <button class="btn btn-danger">Remove</button>
                            </a>
                        {% endif %}
                    </div>
            </div>
            </a>
        {% endfor %}

        <ul class="pagination">
        {% if previous >= 0 %}
            <li class="page-item">
            <a class="page-link" href="{{ path('car_seles_offers_user', { offset: previous }) }}">Previous</a>
            </li>
        {% endif %}
        {% if next < offers|length %}
            <li class="page-item">
            <a class="page-link" href="{{ path('car_seles_offers_user', { offset: next }) }}">Next</a>
            </li>
        {% endif %}
        <ul class="pagination">
    {% endif %}

{% endblock %}