{% extends 'Header.html.twig' %}

{% block title %}New Cars{% endblock %}

{% block body %}
    {% if generations|default %}
        {% for generation in generations %}
            <a href="{{ path('new_cars_now_engine', { body : generation.carBodies }) }}" style="color: black">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="/uploads/offers/{{ generation.file }}" alt="Card image cap" style="max-width: 300px;max-height: 300px">
                        <br>
                        <br>
                        <h4 class="card-title">{{ generation.producedFrom }} {% if producedUntil != 0 %} {{ generation.producedUntil }} {% endif %}</h4>
                        <h5 class="card-title">{{ generation.description }}</h5>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}
{% endblock %}
