{% extends 'Header.html.twig' %}

{% block title %}New Cars{% endblock %}

{% block body %}
    {{ dump() }}
    {% if brand|default and model|default and generation|default and body|default and engine|default %}
        <a href="{{ path('technical_data_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
            Show technical data for this vehicle</a><br>
        <a href="{{ path('blog_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
            Find all posts on blog for this components</a><br>
        <a href="{{ path('car_specialist_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
            Find specialist comment for this components</a><br>
        <a href="{{ path('car_seles_offers_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
            Search cars offer for this car</a>
    {% endif %}
    <hr>
    <div class="center-bar">
        <h3>Selected new car</h3>
    </div>
    <br>
    <div class="center">
        <img class="card-img-top" src="/uploads/generation/{{ generation.file }}" alt="Card image cap" style="max-width: 300px;max-height: 300px">
        <hr>
        <h5 class="card-title">Brand : {{ brand.name }}</h5>
        <hr>
        <h5 class="card-title">Model : {{ model.name }}</h5>
        <hr>
        <h5 class="card-title">Generation : {{ generation.name }}</h5>
        <h6 class="card-title">Produced : {{ generation.producedFrom}} - {% if generation.producedUntil != 0 %} {{ generation.producedUntil }} {% endif %}</h6>
        <hr>
        <h5 class="card-title">Body car : {{ body.name }}</h5>
        <hr>
        <h5 class="card-title">Engine : {{ engine.name }}</h5>
    </div>
{% endblock %}
