{% extends 'Header.html.twig' %}

{% block title %}Your posts{% endblock %}

{% block body %}
    {{ dump() }}
    {% if posts is empty %}
        <div class="center-bar-warning">
            <h4>You don't have posts</h4>
        </div>
    {% endif %}
    {% if posts|default %}
        {% for post in posts %}
            <a href="{{ path('blog_selected_post', { brand : post.brand, model : post.model, generation : post.generation,
                body : post.carBody, engine : post.engine, post : post.id}) }}" style="color: black">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content }}</p>
                        <p class="card-text"><small class="text-muted">Post added at : {{ post.createdAt|date("F jS \\a\\t g:ia") }}.</small></p>
                        <p class="card-text"><small class="text-muted">By : {{ post.user.name }} {{ post.user.surname }}</small></p>
                        {% if app.user == post.user %}
                            <a href="{{ path('blog_user_post_remove',{post: post.id}) }}">
                                <button class="btn btn-danger">Remove</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% endfor %}
    {% endif %}

    <ul class="pagination">
        {% if previous >= 0 %}
            <li class="page-item">
                <a class="page-link" href="{{ path('blog_user_post', { offset: previous }) }}">Previous</a>
            </li>
        {% endif %}
        {% if next < posts|length %}
            <li class="page-item">
                <a class="page-link" href="{{ path('blog_user_post', { offset: next }) }}">Next</a>
            </li>
        {% endif %}
    </ul>

{% endblock %}