{% extends 'Header.html.twig' %}

{% block title %}Car specialist comments{% endblock %}

{% block body %}
    <a href="{{ path('car_specialist_brand') }}">| Select |</a>
    {% if brand|default %}
        <a href="{{ path('car_specialist_model', { brand : brand}) }}">| {{ brand }} |</a>
        {% if model|default %}
            <a href="{{ path('car_specialist_generation', { brand : brand, model : model}) }}">| {{ model }} |</a>
            {% if generation|default %}
                <a href="{{ path('car_specialist_body', { brand : brand, model : model, generation : generation}) }}">| {{ generation }} |</a>
                {% if body|default %}
                    <a href="{{ path('car_specialist_engine', { brand : brand, model : model, generation : generation, body : body}) }}">| {{ body }} |</a>
                    {% if engine|default %}
                        <a href="{{ path('car_specialist_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">| {{ engine }} |</a>
                        <hr>
                        <a href="{{ path('blog_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
                            Find all posts on blog for this components</a><br>
                        <a href="{{ path('car_seles_offers_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
                            Search cars offer for this car</a><br>
                        <a href="{{ path('technical_data_all', { brand : brand, model : model, generation : generation, body : body, engine : engine}) }}">
                            Show technical data for this vehicle</a>
                        <hr>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    {% if form|default %}
        {{ form(form) }}
    {% endif %}

    {% if brand|default %}
        {% if comments is empty %}
            <div class="center-bar-warning">
                <h4>There are no comment for the selected components</h4>
            </div>
        {% endif %}
    {% endif %}
    {% if brand|default %}
        <div class="center-bar-post">
            <h4>Specialist comments</h4>
        </div>
    {% endif %}
    {% if comments|default %}
        {% for comment in comments %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ comment.brand }} {{ comment.model }} {{ comment.generation }} {{ comment.body }} {{ comment.engine }} </h5>
                    {{ comment.content|raw }}
                    <p class="card-text"><small class="text-muted">Comment added at : {{ comment.createdAt|date("F jS \\a\\t g:ia") }}</small></p>
                    <p class="card-text"><small class="text-muted">By : {{ comment.user.name }} {{ comment.user.surname }}</small></p>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}
